{% extends "design/base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
	<h1>Parts</h1>
	
<div class="container-fluid listview">
	<div class="row m-1 ">
		<div class="col-6 p-1 ">				
			<a  href="/" title="Back" alt="Back">
			<img class="float-left p-1" src="{% static 'icons/back.png' %}" width="32" title="Back" alt="Back">
			</a>
		</div>
		<div class="col-6 p-1 d-flex justify-content-end">	
			<a  href="{% url 'parts-list-add-page' %}" title="Add New Part" alt="Add New Part"><img class="float-right p-1" src="{% static 'icons/add.png' %}" width="32" title="Add New Part" alt="Add New Part"></a>
			<a data-toggle="collapse" href="#mysearch" role="button" aria-expanded="false" aria-controls="mysearch"><img class="float-right p-1" src="{% static 'icons/search.png' %}" width="32" title="Search" alt="Search"></a>
		</div>
	</div>
	
	<div class="collapse m-2 p-1 border rounded border-info" id="mysearch" >
		<div class="row p-1 m-1 ">
		<div class="col-10">
		<h3>Search Part</h3>
		</div>		
		</div>		
			<div class="container-fluid">
				<div class="row">
					<div class="col-4 p-1 border rounded border-info text-left">	
						<h5>Part name or Code</h5>
					</div>					
					<div class="col-8 p-1 border rounded border-info text-center">
						<input type="text" class="form-control" id="mypart" placeholder="Search Part name or Code">
					</div>						
				</div>
			</div>
	</div>	
	
<div id="myresult"></div>	
</div>
<div class="container-fluid listview">	
	<div id="orresult">	 	
	
	<div class="row m-2">
			<div class="col-4 border rounded p-1"><strong>Part Name</strong></div>
			<div class="col-2 border rounded p-1"><strong>Part #</strong></div>
			<div class="col-4 border rounded p-1"><strong>Compatible</strong></div>
			<div class="col-1 border rounded p-1"><strong>Qtty</strong></div>
			<div class="col-1 rounded p-1">&nbsp;</div>
	</div>
		
    {% for part in parts %}
        <div class="row m-2">			
			<div class="col-4 border rounded p-1"><a href="{% url 'parts-detail-page' part.id %}">{{ part.part_name }}</a></div>
			<div class="col-2 border rounded p-1"><a href="{% url 'parts-detail-page' part.id %}">
			{%if part.part_manufacturer_barcode %}{{ part.part_manufacturer_barcode }} <strong>|</strong> {% endif %}
			{%if part.part_manufacturer_part_number %}{{ part.part_manufacturer_part_number }} <strong>|</strong> {% endif %}
			{%if part.part_oem_number %}{{ part.part_oem_number }} <strong>|</strong> {% endif %}
			{%if part.part_barcode %}{{ part.part_barcode }}{% endif %}</a>
			</div>	
			<div class="col-4 border rounded p-1">{%if part.part_compatible %}{{ part.part_compatible }} <strong>|</strong> {% endif %} 
			{% for mresult in part.machinparts.all %} 
					{{ mresult.machine_id }} <strong>|</strong> 
			{% endfor %}
			{% for mresult in part.moldparts.all %} 
					{{ mresult.mold_id }} <strong>|</strong> 
			{% endfor %}
			</div>
			<div class="col-1 border rounded p-1"><strong>{%if part.part_qty_in_stock %} {{ part.part_qty_in_stock }}{% endif %}</strong></div>			
			<div class="col-1 border rounded p-1 ">
			 <a href="{% url 'parts-detail-page' part.id %}">
			 
			 
			 </a>           
			</div>
		</div>
    {% endfor %}
	

	{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
	</div>
</div>		
<script type="text/javascript" src="{% static 'js/partsearch.js' %}" ></script>

	
{% endblock content %}